contratos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="contratos">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="municipio" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="contrato" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="objetoContrato" type="xs:string" />
                              <xs:element name="preco" type="xs:string" />
                              <xs:element name="publicacao">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:pattern value="\d{1,2}-\d{1,2}-\d{4}" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="adjudicatario" type="xs:string" />
                           </xs:sequence>
                           <xs:attribute name="id" type="xs:string" use="required" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="nomeMun" type="xs:string" use="required" />
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
