produtos.dtd

<!ELEMENT preco  ( #PCDATA )>
<!ELEMENT produto  ( nome , quant , preco )>
<!ELEMENT produtos  ( produto+ )>
<!ELEMENT quant  ( #PCDATA )>
<!ELEMENT nome  ( #PCDATA )>

<!ATTLIST produto cod CDATA #REQUIRED>
<!ATTLIST produto stock (sim|não)  #REQUIRED>

<!ATTLIST produtos xmlns:xsi CDATA #IMPLIED>
<!ATTLIST produtos xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
